<!DOCTYPE html>
<html>
  <head>
    <title>Tinstuk</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=0.9">
  </head>

  <body>

  <% if current_user %>
  <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
    <li class="active"><a href="#"><i class="fa fa-users"></i> Discover</a></li>
    <li class="active"><a href="#"><i class="fa fa-heart"></i> Matches</a></li>
    <li class="active"><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
    <li class="active"><%= link_to 'sign_out', method: :delete do %><i class="fa fa-cog"></i> Sign out<% end %></li>
  </nav>

  <div class="navbar navbar-default navbar-fixed-top">
    <button type="button" class="navbar-toggle button-nav" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
      <i class="fa fa-cog"></i>
    </button>
    <button type="button" class="navbar-toggle pull-right button-nav">
      <i class="fa fa-heart"></i>
    </button>
  </div>

      <% else %>
  <a class="navbar-brand" href="#">
    <%= image_tag 'logo_white.png', alt: 'Tinstuk Logo', class: 'logo-brand' %>
  </a>

      <% end %>
    <%= yield %>
  </body>
</html>
